.navbar {
    background-color: #f7bb44;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #c3bc99;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #c3bc99;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #c3bc99; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #c3bc99;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c3bc99;
    background-color: #3c5bd2;
  }
  .navbar .navbar-toggle {
    border-color: #3c5bd2;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #3c5bd2;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #c3bc99;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c3bc99;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c3bc99;
      background-color: #3c5bd2;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c3bc99;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c3bc99;
      background-color: #3c5bd2;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c3bc99;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c3bc99;
      background-color: #3c5bd2;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c3bc99;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c3bc99;
      background-color: #3c5bd2;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c3bc99;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c3bc99;
    background-color: #3c5bd2;
  }

  #footer{
      position: relative;
      left:0;
      bottom:0;
      width: 100%;
  }
.section{
    animation: transitionIn 0.75s;
    margin-top: 50px;
    
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10PX);

    }

    to{
        opacity: 1;
        transform: translateX(0);


    }
}
.html{
    scroll-behavior:smooth;
}

#col-md-12{
    height:400px;
}
#map{
  margin-bottom: 100px;
  position: relative;
}